body {
    background-color: #BBDEFB;
}

.avatar {
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.top-block {
    margin-top: 10px;
}

.text-center {
    text-align: center
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.flat-bottom {
    border-radius: 5px 5px 0px 0px;

}
.flat {
    border-radius: 0px 0px 0px 0px;
}

.flat-top {
    border-radius:  0px 0px 5px 5px;

}

.title-background {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.content-frame {
  background-color: #FFFFFF;
  border-radius: 2px;
}

.user-content-item {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.item-title {
  margin-bottom: -20px;
  padding-left: 0px;
}

.item-file {
  font-style: italic;
}

.icon {
  margin-right: 8px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

#user-content {
  background-color: #E7E7E7;
  border-radius: 4px;
  margin: 10px;
  padding: 15px;
}

#task-btn-download {
  height: inherit;
}

#task-end {
  height: 30px;
}

#timeleft {
  padding: 18px;
}
