body {
    background-color: #BBDEFB;
}

.avatar {
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.top-block {
    margin-top: 10px;
}

.text-center {
    text-align: center
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}