<div class="modal fade" id="createColloquiumModal" tabindex="-1" role="dialog"
     aria-labelledby="createColloquiumModalLabel"
     aria-hidden="true">
    <style scoped>
        @import "css/modal.css";
    </style>
    <form method="post" th:action="@{/createExam?_csrf.parameterName=_csrf.token}" enctype="multipart/form-data">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="border-radius: 15px;">
                <div class="modal-header">
                    <div class="center-block" id="modal-title">Create exam</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm">
                                <label class="modal-input-label">Title:</label>
                            </div>
                            <div class="col-sm">
                                <input class="modal-input" type="text" placeholder="Exam title" name="title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label class="modal-input-label">Password:</label>
                            </div>
                            <div class="col-sm">
                                <input class="modal-input" type="password" placeholder="-" name="password">
                            </div>
                        </div>
                        <p id="errormsg">
                        </p>
                        <div class="row">
                            <div class="col-sm">
                                <label class="modal-input-label">Number of groups:</label>
                            </div>
                            <div class="col-sm">
                                <input id="numberOfGroups" name="numberOfGroups" class="modal-input" type="number" min="1" max="10" placeholder="1" value="1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label class="modal-input-label">Begin date:</label>
                            </div>
                            <div class="col-sm">
                                <input class="modal-input" type="datetime-local" placeholder="24:00" name="startDate"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label class="modal-input-label">End date:</label>
                            </div>
                            <div class="col-sm">
                                <input class="modal-input" type="datetime-local" placeholder="24:00"
                                       name="endDate">
                            </div>
                        </div>
                        <div id="files-for-groups" style="margin-top: 40px;">
                            <div class="row drag-files">
                                <label class="group-label">Group 1</label>
                                <div class="col-sm">
                                    <div class="upload-files-button">
                                        <input type="file" name="file" class="form-control-file">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <em class="vertical-center"><small>or drag files here</small></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn done-button center-block"><img
                            th:src="@{/images/icons/checkmark-green.png}"
                            class="done-icon">Confirm
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#numberOfGroups").on("change paste keyup", function() {
            $("#files-for-groups").empty();
            for(var i = 0; i < $(this).val(); i++) {
                $("#files-for-groups").append(
                    "<div class=\"row drag-files\">\n" +
                    "    <label class=\"group-label\">Group " + (i + 1) + "</label>\n" +
                    "    <div class=\"col-sm\">\n" +
                    "        <div class=\"upload-files-button\">\n" +
                    "              <input type=\"file\" name=\"file\" class=\"form-control-file\">" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "    <div class=\"col-sm\">\n" +
                    "        <em class=\"vertical-center\"><small>or drag files here</small></em>\n" +
                    "    </div>\n" +
                    "</div>"
                );
            }
        });
    });
</script>