body {
    background-color: #BBDEFB;
    /*background-color: #c34a8b;*/
    /*background-color: #af4e4c;*/
}

.font-main{
    font-family: Overlock SC, fantasy;
}

.color1{
    background-color: #af4e4c;
}
.color2{
    background-color: #4caf50;
}


.main-margin{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.logo{
  width: 160px;
  height: 160px;
}

.avatar {
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.top-block {
    margin-top: 10px;
}

.text-center {
    text-align: center
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.flat-bottom {
    border-radius: 5px 5px 0 0;

}
.flat {
    border-radius: 0 0 0 0;
}

.flat-top {
    border-radius:  0 0 5px 5px;
}

.btn-shadow {
    box-shadow: 0 0 10px #AFAFAF;
}

.title-background {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.content-frame {
  background-color: #FFFFFF;
  border-radius: 2px;
}

.user-content-item {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.item-title {
  margin-bottom: -20px;
  padding-left: 0px;
}

.item-file {
  font-style: italic;
}

.icon {
  margin-right: 8px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.table-row {
}

.table-cell {
    margin: inherit;
    border: none;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-head-row {
    background-color: #a4a4a4 !important;
}

.table-main {
    border-radius: 5px;
}

#user-content {
  background-color: #E7E7E7;
  border-radius: 4px;
  margin: 10px;
  padding: 15px;
}

#task-btn-download {
  height: inherit;
}

#task-end {
  height: 30px;
}

#timeleft {
  padding: 18px;
}


