<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      xmlns:form="http://www.w3.org/1999/html">
<head th:include="fragments/meta.html"></head>
<head>
    <title>Error!!!</title>
</head>


<body>
<div class="container mt-sm-5">
    <div class="card shadow-lg">
        <div class="row">
            <div class="col">
                <div class="text-center display-4 m-1">Something went wrong!</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center display-4 m-1">Error code:</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center display-4 m-1" th:text="${errorMsg != null} ? ${errorMsg}" >Unknown error</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center m-4 h1 font-weight-light ">
                    <a href="/"><u>Back to main page.</u></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10"></div>
            <div class="col">
                <div class="">
                    <img class="img-responsive" src="../../static/images/pika.png" alt="pika">
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/bootstrap-scripts.html"></div>

</body>

</html>
