<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/meta.html"></head>
<head>
    <title>Exam list panel</title>
    <link th:href="@{../css/exam-panel.css}" rel="stylesheet">
    <link th:href="@{../css/exam-list-panel.css}" rel="stylesheet">
</head>


<body>
<div class="container-fluid">
    <div class="main-margin">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="logo">
                        <a href="./"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
                    </div>
                    <div id="panel-name">
                        <div>Historia kolokwiów</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button id="button-create-exam" data-toggle="modal"
                    data-target="#createColloquiumModal">
                <div><i class="fas fa-plus-circle"></i></div> <div><span>Utwórz kolokwium</span></div>
            </button>
            <div th:insert="fragments/examCreatorModal.html"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="grey-block">
                    <table class="table-main">
                        <thead>
                            <tr class="table-head-row table-row">
                                <th class="table-cell">Nazwa</th>
                                <th class="table-cell">Data</th>
                                <th class="table-cell">Godzina</th>
                                <th class="table-cell">Dostęp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" th:each="exam : ${examList}">
                                <td class="table-cell" th:text="${exam.getTitle()}"></td>
                                <td class="table-cell" th:text="${exam.getStartDate().toLocalDate()}"></td>
                                <td class="table-cell" th:text="${exam.getStartDate().toLocalTime()}"></td>
                                <td class="table-cell">LINK</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div class="row ">
                        <div class="col-sm name-field hist-col-name">Nazwa</div>
                        <div class="col-sm date-field hist-col-name">Data</div>
                        <div class="col-sm hour-field hist-col-name">Godzina</div>
                        <div class="col-sm access-field hist-col-name">Dostęp</div>
                    </div>
                    <div class="row center-block exam" th:each="exam : ${examList}">
                        <div class="col-sm name-field hist-col-name" th:text="${exam.getTitle()}"></div>
                        <div class="col-sm date-field hist-col-name"
                             th:text="${exam.getStartDate().toLocalDate()}"></div>
                        <div class="col-sm hour-field hist-col-name"
                             th:text="${exam.getStartDate().toLocalTime()}"></div>
                        <div class="col-sm access-field hist-col-name">LINK</div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="fragments/bootstrap-scripts.html"></div>
<script type="text/javascript" th:src="@{/js/modalFormSender.js}"></script>
</body>

</html>
