<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/meta.html"></head>
<head>
    <title>Exam panel</title>
    <link th:href="@{../css/exam-panel.css}" rel="stylesheet" href="css/exam-panel.css">
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>


<body>

<div class="container-fluid">
    <div class="main-margin">
        <div class="row">
            <div class="col-lg-6 left-side">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <div class="logo">
                            <a href="./"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="exam-header">
                            <div id="exam-name" th:text="${exam.getTitle()}"></div>
                        </div>
                    </div>
                </div>
                <div class="row left-panel">
                    <div class="col">
                        <div class="row">
                            <span id="clock" class="center-block font-weight-light"
                                  th:text="${#dates.format(standardDate, 'HH:mm | MMM dd yyyy')}"></span>
                        </div>
                        <div class="row center-block horizontal-line"></div>
                        <div class="row">
                            <div class="center-block" style="line-height: 120px">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <span class="link-left-text">Link to the exam:</span>
                                    </div>
                                    <div class="col">
                                        <div class="link" id="link">km.me/zpo-123xfct</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block horizontal-line"></div>
                        <div class="row">
                            <div class="center-block" style="line-height: 80px">
                                <span id="time-left"
                                      th:text="'Time left: ' + ${timeLeft}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="center-block" id="time-panel-down-text"><span id=""></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row left-panel">
                    <div class="col">
                        <div th:each="path : ${pathList}">
                            <div class="row">
                                <span class="ml-3 mt-2" th:text="'Group '+ ${path.getGroupId()}"></span>
                            </div>
                            <div class="row">
                                <div class="center-block task-content">
                                    <button type="button"><a th:href="${path.getPath()}">Button Text</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col right-side mt-3 ml-3">
                <div class="row">
                    <div class="col participants-table">
                        <div class="row">
                            <div class="participants-header">
                                Participants
                            </div>
                        </div>
                        <div class="row">
                            <div id="participants">
                                <table>
                                    <tr th:each=" participant : ${participantList}">
                                        <td th:text="${participant.getIndex()}"></td>
                                        <td th:text="${participant.getFirstName()} + ' ' + ${participant.getLastName()}">
                                        </td>
                                        <td>10:21:57</td>
                                        <td th:text="'Gr. '+${participant.getGroupNumber()}"></td>
                                        <td class="table-checkmark">
                                            <div th:if="${participant.getDone()} == true">
                                                <img src="images/icons/checkmark-green.png" class="checkmark-icon">
                                            </div>
                                            <div th:unless="${participant.getDone()} == true">
                                                <img src="images/icons/checkmark-empty.png" class="checkmark-icon">
                                            </div>
                                        </td>
                                        <td class="table-button red">
                                            <img src="images/icons/delete.png" class="button-icon">
                                        </td>
                                        <td class="table-button yellow">
                                            <img src="images/icons/timer.png" class="button-icon">
                                        </td>
                                        <td class="table-button blue">
                                            <a th:href="${participant.getPath()}"> <img src="images/icons/download2.png"
                                                                                        class="button-icon"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--NAVIGATION BAR (kod musi być na dole)-->
<div class="navigation">
    <div class="row">
        <div class="col pr-0 pl-3" sec:authorize="isAuthenticated()">
            <button class="btn nav-button exam-hist-button" onclick="location.href='/examListPanel'">
                <i class="fas fa-graduation-cap fa-fw" aria-hidden="true"></i>
                <span>Exam history</span>
            </button>
        </div>
        <div class="col-md-auto pr-0 pl-3">
            <a href="#" id="dropdownLogin" data-toggle="dropdown">
                <button class="btn nav-button account-button">
                    <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                    <span>Account</span>
                </button>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div sec:authorize="!isAuthenticated()">
                    <form th:action="@{/auth_user}" method="POST" class="px-4 py-3">
                        <div class="form-group">
                            <div>
                                <!-- Check for login error -->
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                        Invalid username and password.
                                    </div>
                                </div>
                                <div th:if="${param.logout}">
                                    <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                        You have been logged out.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="username" class="form-control">
                        </div>
                        <!-- Password -->
                        <div style="margin-bottom: 25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" placeholder="password" class="form-control">
                        </div>
                        <!-- Login/Submit Button -->
                        <div style="margin-top: 10px" class="d-flex justify-content-center">
                            <div class="controls">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#modalRegisterForm">New around
                        here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn-lg btn-danger flat" href="/logout" role="button"><i
                            class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div style="margin:25px">
                        <div style="margin-bottom:25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" name="login" placeholder="Your login" class="form-control">
                        </div>
                        <div style="margin-bottom:25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" name="password_A" placeholder="Your password" class="form-control">
                        </div>
                        <div style="margin-bottom:25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" name="password_B" placeholder="Repeat your password"
                                   class="form-control">
                        </div>
                        <div style="margin-bottom:25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user "></i></span>
                            </div>
                            <input type="text" name="name" placeholder="Your name (optional)" class="form-control">
                        </div>
                        <div style="margin-bottom:25px" class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" name="surname" placeholder="Your surname (optional)"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-success">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/bootstrap-scripts.html"></div>
</body>

</html>
