<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/meta.html"></head>
<head>
    <title>Exam list panel</title>
    <link th:href="@{../css/exam-panel.css}" rel="stylesheet">
    <link th:href="@{../css/exam-list-panel.css}" rel="stylesheet">
</head>


<body>
<div class="container-fluid">
    <div class="main-margin">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="logo" id="logo"><img class="img-responsive" src="images/logo.png"></div>
                    <div id="panel-name">
                        <div>Historia kolokwiów</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button id="button-create-exam">Utwórz kolokwium</button>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="grey-block">
                    <div class="row ">
                        <div class="col-sm name-field hist-col-name">Nazwa</div>
                        <div class="col-sm date-field hist-col-name">Data</div>
                        <div class="col-sm hour-field hist-col-name">Godzina</div>
                        <div class="col-sm access-field hist-col-name">Dostęp</div>
                    </div>
                    <div class="row center-block exam">
                    </div>
                    <div class="row center-block exam">
                    </div>
                    <div class="row center-block exam">
                    </div>
                    <div class="row center-block exam">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/bootstrap-scripts.html"></div>
</body>

</html>
