<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/meta.html"></head>
<head>
    <title>Exam panel</title>
    <link th:href="@{../css/exam-panel.css}" rel="stylesheet" href="css/exam-panel.css">
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/refresh.js}"></script>
</head>


<body>

<div class="container-fluid">
    <div class="main-margin">
        <div class="row">
            <div class="col-lg-6 left-side">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <div class="logo">
                            <a href="./"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="exam-header">
                            <div id="exam-name" th:text="${exam.getTitle()}"></div>
                        </div>
                    </div>
                </div>
                <div class="row left-panel">
                    <div class="col">
                        <div class="row">
                            <span id="clock" class="center-block font-weight-light"
                                  th:text="${#dates.format(standardDate, 'HH:mm | MMM dd yyyy')}"></span>
                        </div>
                        <div class="row center-block horizontal-line"></div>
                        <div class="row">
                            <div class="center-block" style="line-height: 120px">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <span class="link-left-text">Link to the exam:</span>
                                    </div>
                                    <div class="col">
                                        <div class="link" id="link">km.me/zpo-123xfct</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block horizontal-line"></div>
                        <div class="row">
                            <div class="center-block" style="line-height: 80px">
                                <span id="time-left"
                                      th:text="'Time left: ' + ${timeLeft}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="center-block" id="time-panel-down-text"><span id=""></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row left-panel">
                    <div class="col">
                        <div th:each="path : ${pathList}">
                            <div class="row">
                                <span class="ml-3 mt-2" th:text="'Group '+ ${path.getGroupId()}"></span>
                            </div>
                            <div class="row">
                                <div class="center-block task-content">
                                    <button type="button"><a th:href="${path.getPath()}">Button Text</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col right-side mt-3 ml-3">
                <div class="row">
                    <div class="col participants-table">
                        <div class="row">
                            <div class="participants-header">
                                Participants
                            </div>
                        </div>
                        <div class="row">
                            <div id="participants">
                                <table>
                                    <tr th:each=" participant : ${participantList}">
                                        <td th:text="${participant.getIndex()}"></td>
                                        <td th:text="${participant.getFirstName()} + ' ' + ${participant.getLastName()}">
                                        </td>
                                        <td>10:21:57</td>
                                        <td th:text="'Gr. '+${participant.getGroupNumber()}"></td>
                                        <td class="table-checkmark">
                                            <div th:if="${participant.getDone()} == true">
                                                <img src="images/icons/checkmark-green.png" class="checkmark-icon">
                                            </div>
                                            <div th:unless="${participant.getDone()} == true">
                                                <img src="images/icons/checkmark-empty.png" class="checkmark-icon">
                                            </div>
                                        </td>
                                        <td class="table-button red">
                                            <img src="images/icons/delete.png" class="button-icon">
                                        </td>
                                        <td class="table-button yellow">
                                            <img src="images/icons/timer.png" class="button-icon">
                                        </td>
                                        <td class="table-button blue">
                                            <a th:href="${participant.getPath()}"> <img src="images/icons/download2.png"
                                                                                        class="button-icon"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--NAVIGATION BAR (kod musi być na dole)-->
<div class="navigation">
    <div class="row">
        <div class="col pr-0 pl-3">
            <button class="btn nav-button exam-hist-button" onclick="location.href='../'">
                <i class="fas fa-home fa-fw" aria-hidden="true"></i>
                <span>Home</span>
            </button>
        </div>
        <div class="col-md-auto pr-0 pl-3" sec:authorize="isAuthenticated()">
            <button class="btn nav-button exam-hist-button" onclick="location.href='/examListPanel'">
                <i class="fas fa-graduation-cap fa-fw" aria-hidden="true"></i>
                <span>Exam history</span>
            </button>
        </div>
        <div class="col-md-auto pr-0 pl-3" sec:authorize="isAuthenticated()">
            <button class="btn nav-button exam-hist-button" onclick="location.href='/logout'">
                <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
                <span>Logout</span>
            </button>
        </div>
    </div>
</div>

<div th:include="fragments/bootstrap-scripts.html"></div>
</body>

</html>
