<!doctype html>

<html lang="pl">

<head>
    <meta charset="utf-8">

    <title>Mobilne Kolokwium</title>
    <meta name="description" content="Mobilne Kolokwium">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap" rel="stylesheet">
    <script src="script/script.js"></script>
    <!-- <if twoja przegladarka == chrome to nie zadziala></if> -->
</head>


<body onload="inherit()">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-2 center-block"><img class="img-responsive" src="images/logo.png"></div>
            <div class="col-lg-9 center-block text-center"><small class="font-weight-bold display-3">22:11 | Pon, Maj 21
                    2020</small></div>
            <div class="col-12 col-sm-auto top-block"><img class="avatar img-responsive" src="images/avatar.png"></div>
        </div>
        <div class="row">
            <div class="col-lg-9"><img class="img-responsive" src="images/tlo.png"></div>
            <div class="col-lg-3 center-block">
                <div class="row center-block">
                    <button class="btn-lg btn-light flat-bottom" id="first-btn"><i class="fas fa-plus-circle"></i> UTWÓRZ KOLOKWIUM</button>
                </div>
                <div class="row ">
                    <button class="btn-lg btn-success flat"><i class="fas fa-user-plus"></i> DOŁĄCZ DO KOLOKWIUM</button>
                </div>
                <div class="row center-block">
                    <button class="btn-lg btn-light flat-top" id="last-btn">10:20 &nbsp;  KOLOKWIUM ZPO</button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>