<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/meta.html"></head>
<head><title>Mobilne Kolokwium</title></head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-2 center-block"><img class="img-responsive" src="images/logo.png"></div>
            <div class="col-lg-9 center-block text-center">
                <small class="font-weight-bold display-3"
                       th:text="${#dates.format(standardDate, 'HH:mm | MMM dd yyyy')}">
                </small>
            </div>
            <div class="col-12 col-sm-auto top-block"><img class="avatar img-responsive" src="images/avatar.png"></div>
        </div>
        <div class="row">
            <div class="col-lg-9"><img class="img-responsive" src="images/tlo.png"></div>
            <div class="col-lg-3 center-block">
                <div class="row center-block">
                    <button class="btn-lg btn-light flat-bottom" id="first-btn"><i class="fas fa-plus-circle"></i> UTWÓRZ KOLOKWIUM</button>
                </div>
                <div class="row ">
                    <button class="btn-lg btn-success flat"><i class="fas fa-user-plus"></i> DOŁĄCZ DO KOLOKWIUM</button>
                </div>
                <div class="row center-block" sec:authorize="isAuthenticated()">
                    <button class="btn-lg btn-light flat-top" id="last-btn">10:20 &nbsp;  KOLOKWIUM ZPO</button>
                </div>

            </div>
        </div>
    </div>
    <div th:include="fragments/bootstrap-scripts.html"></div>
</body>
</html>