<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/meta.html"></head>
<head>
    <title>Student exam view</title>
    <link th:href="@{../css/exam-panel.css}" rel="stylesheet">
</head>


<body>
<div class="container-fluid">
    <div class="main-margin">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="logo">
                        <a href="./"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
                    </div>
                    <div id="exam-name">
                        <div>Nazwa_kolokwium</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 center-block" id="user-content">
                <h2 id="time-left">Pozostały czas: 0:46:12</h2>
                <div id="task" class="user-content-item content-frame">
                    <p>Zad 1: Tutaj jakaś przykładowa treść</p>
                    <p>Zad 2: Kolejna przykładowa treść</p>
                    <div id="task-end">
                        <button id="task-btn-download" class="btn btn-primary btn-sm float-lg-right"><img
                                src="images/icons/download.png" class="icon">Pobierz treść zadania
                        </button>
                    </div>
                </div>
                <div id="send-file"
                     class="user-content-item content-frame row justify-content-center align-items-center">
                    <div id="send-file-btn" class="col-lg-6">
                        <button class="btn btn-primary btn-lg"><img src="images/icons/upload.png" class="icon">Wybierz
                            plik...
                        </button>
                    </div>
                    <div id="senf-file-dropdown" class="col-lg-6">
                        <em><small>lub przeciągnij tutaj</small></em>
                    </div>
                </div>
                <div class="user-content-item item-title">Dodane pliki:</div>
                <div id="uploaded-files" class="user-content-item content-frame">
                    <div class="item-file">Placeholder.zip</div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <button id="btn-end" class="btn btn-success"><img src="images/icons/confirm.png" class="icon">Zakończ
                    </button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<div th:include="fragments/bootstrap-scripts.html"></div>
</body>

</html>
